<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="container">
<%- include('../partials/header') %>

    <main>
        <div class="junbotron">
            <h1>Sobre mim</h1>
            <p>Eu sou Alexsandro Santos aluno do discover da rocktseat</p>
        </div>
    </main>
</body>
<%- include('../partials/footer') %>
</html>