/* [title] {
    color: orange;
} */

/* p:hover, h1:hover {
    color:red;
} */
/* descendant combinators */
/* body article h2 {
    color: red;
 } */

 /* child combinators */
 /* body > ul > li {
    color: blue;
 } */

/*  adjacent sibling combinators */
/* h1 + p {
    color: red
}

button + button {
    margin-left: 32px;
} */
/* general sibling combinator */
/* h1 ~ p {
    color: red;
} */

/* utilizando combinadores */
ul > li[class="red"] {
 color: red;
}