p {
    font-family:  'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 18px;
    
    font-family: 'Lato', sans-serif;
   /* font-stretch: expanded;
    letter-spacing: 1em;
    word-spacing: 1em;
    line-height: 1.6;
    text-transform: uppercase;
    text-decoration: underline solid green;
    text-align: left;*/
    text-shadow: 1px 1px 8px red,
               2px 2px 2px green;
    /* -style, -variant, -weight, -stretch, -size,  line-height e family*/ 
font: italic normal bold normal 3em/1.5 Helvetica, Arial, sans-serif;
    
}