* {margin: 0}

div, section {
    width: 100px;
    height: 100px;
    border: 20px solid red;
    border-top: double green 4px;
    margin: 20%;
    border-bottom: none;

    outline: yellow 4px solid;
}